/******************************************************************
Site Name: MEAT
Author: Eivin + Andrew

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-size: 100%;
	line-height: 1.5;
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 800px;
	margin: 0 auto;
}

/*********************
HEADER STYLES
*********************/

	h1, .h1 {	@include font-size(2.250);	} 
	h2, .h2 {	@include font-size(1.875);	} 
	h3, .h3 {	@include font-size(1.5);	} 
	h4, .h4 {	@include font-size(1.125);	} 
	h5, .h5 {	@include font-size(1);		} 
	h6, .h6 {	@include font-size(0.85);	} 

/*********************
HEADER STYLES
*********************/

.header {}


/*********************
LOGO STYLES
*********************/

	#logo {
		width: col_width(3);
		width: col_width(3, true);
		text-align: left;
		float: left;
		margin-left: 0;


		img{
		    margin: 0em auto;
		    max-width: 100%;
		    position: relative;
		    z-index: 20;
		}
	}

/*********************
NAVIGATION STYLES
*********************/

.mobile-only{
	display: none;
	visibility: hidden;
}

nav[role=navigation]{
	float: right;
}

.nav {
	text-align: center;
	margin: 10px 0;
	vertical-align: middle;

	.js & {
		display: block;
		top: auto;
		right: auto;
		left: auto;
		max-height: 100%;
	}
	
	li {
		display: inline-block;
		position: relative;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $white;
				background: $brand-colour;
				
				a{
					color: $white;
				}
			}
			
		a {
			border-bottom: 0;
			color: $grey-darker;
			@include font-size(1);
			padding: 7px 10px;
			font-weight: 100;

			&:hover, &:focus {
				color: $white;
				background: darken($brand-colour, 10%);
			}
		}

		&:first-child {}
		&:last-child {}
		
		/*
		plan your menus and drop-downs wisely.
		*/
		.js & ul.show.sub-menu,
		.js & ul.show.children,
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 15;
			text-align: left;
			color: $white;
			background: $brand-colour;

			li {

				&:hover, &:focus {
					a{
						background: darken($brand-colour, 10%);
						border-radius: 2px;
					}
				}
				
				a {
					@include font-size(0.85);
					padding: 2px 0 2px 14px;
					border-right: 0;
					display: block;
					width: 200px;
					color: $white;
					
					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */




/***************************************************
		D i a g o n a l   S i d e b a r s !

		This is where we can add a slanted
		bar to the end of a container. The
		height is wank though, so it needs
		to be pulled in from JS 
		
		Should look like this:	[div]/


***************************************************/

@mixin slanted($slant-right, $colour){
	position: relative;
	background: $colour;
	
	.slanted{
		content: "";
		position: absolute;
		top: 0;
		width: $slant-right;
		right: -$slant-right;
		-webkit-backface-visibility: hidden;
		background-image: url('../images/slant.svg');
		background-size: 100% 100%;
		height: 100%;
	}

	#slant polygon { fill: $colour !important; }
	
}

.slant-right {
	@include slanted(15px, $brand-colour);
}

/*********************
SIDEBARS & ASIDES
*********************/

	.widget {
		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


// Search Form

input[type="search"]{
	width: 61%;
	float: left;
	padding: 2% 1%;
}

.search-form .button{
	float: right;
	width: 35%;
}



/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/

.footer{
	text-align: left;

	.widget{
		
		width: col_width(3);
		width: col_width(3, true);
		
		float: left;
		margin-left: $gutter;
		margin-left: calc(#{$gutter_em} * 1);	
			
		&.first{ margin-left: 0;}
		&.last{ float: right;}
		position: relative;
		

		&:first-child{
			margin-left: 0;
		}

		ul{
			padding: 0;
			margin: 0;

			li{
				padding: 0;
				margin: 0;
			}
		}
	}

	.half-horizontal{
		border-bottom: 1px solid $black;
		padding-bottom: 0.5em;
		margin-bottom: 1em;	
	}

	a{	
		&:hover{
			color: $brand-colour;
			text-decoration: underline;
		}
	}
}

.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */


.copyright{
	br{
		display: none;
	}
}
